$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;

.card-head {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    align-items: center;
    place-items: center;
    
    &__img {
        max-height: 8rem;
        max-width: 8rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 4%;
    }
    
    &__info {
        text-align: center;
        width: 100%;
    }
    
    &__head {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__name {
        font-size: 1rem;
        font-weight: 600;
        line-height: 130%;
        color: $dark-blue;
    }

    &__email {
        font-size: .9rem;
        line-height: 130%;
        color: $gray;
    }
    
    &__birthday{
        font-size: .9rem;
        line-height: 130%;
        color: $gray;
    }
    
    &__highlight {
        color: $soft-blue;
    }   

    
    &__more {
        margin-top: 4%;
        background: $soft-blue;
        border: none;
        border-radius: 1em;
        padding: 4%;
        color: $white;
        box-shadow: .3em .4em .3em $dark-blue;
        font-size: 1.1rem;
        transition: .2s ease;
        cursor: pointer;
    }

    &__more:active {
        transform: translateY(.2em);
        box-shadow: .2em .2em .3em $dark-blue;
        color: $pumpkin;
        text-shadow: .2em .2em .2em $dark-blue;
    }

    // &__more:hover{
    //     transform: translateY(-.2em);
    //     box-shadow: .3em .6em .3em $dark-blue;
    //     color: $pumpkin;
    //     text-shadow: .2em .2em .2em $dark-blue;
    // }
}

// @media (max-width: 1224px) {
//     .card-head{
//        column-gap: 8%;

//         &__img{
//             width: 4.5rem;
//             height: 4.5rem;
//             border-radius: 50%;
//             object-fit: cover;
//         }

//         &__info{
            
//         }
//     }
// }