$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;

.card-head {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-row: 1fr;
    column-gap: 4%;
    
    &__img {
        grid-column: 1;
        max-height: 110px;
        max-width: 100px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    &__info {
        grid-column: 2;
        width: 85%;
    }
    
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-size: 1rem;
        font-weight: 600;
        line-height: 130%;
        color: $dark-blue;
    }
    
    &__verified {
        color: $pumpkin;
        font-size: .9rem;
        
    }

    &__email {
        font-size: .9rem;
        line-height: 130%;
        color: $gray;
    }
    
    &__birthday{
        font-size: .9rem;
        line-height: 130%;
        color: $gray;
    }
    
    &__highlight {
        color: $soft-blue;
    }   

    
    &__more {
        grid-row: 1;
        margin-top: 4%;
        text-align: left;
        background: none;
        border: none;
        text-decoration: underline;
        color: $soft-blue;
        font-size: .9rem;
        cursor: pointer;
    }
}

@media (max-width: 1224px) {
    .card-head{
       

        &__img{
            width: 3.5rem;
            height: 3.5rem;
            object-fit: cover;
        }

        &__info{
            
        }
    }
}