$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;




.oneOnOne {
    display: grid;
    height: fit-content;
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% auto auto;
    border-top: 2px solid $gray-blue;
    row-gap: 2%;

    &__title {
        grid-row: 1;
        font-weight: 600;
        color: $dark-blue;
        margin-top: 1%;
    }

    &__total{
        grid-row: 2;
        margin-bottom: 8%;
        color: $gray;
    }

    &__total-num{
        color: $soft-blue;
        font-weight: 600;
    }

    &__box {
        grid-row: 3;
        min-height: fit-content;
        border: 2px solid $gray-blue;
        border-radius: 4px;
        padding: 4%;       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__label {
        color: $gray;
        font-size: 1.1rem;
    }

    &__input {
        background-color: $white;
        border: .2em solid $gray-blue;
        color: $soft-blue;
        outline: none;
    }

    &__button {
        padding: 1%;
        border-radius: 40px;
        font-weight: 600;
        color: #fff;
        background-color: $gray-blue;
        outline: none;
        border: .2em solid $gray;
        cursor: pointer;
        transition: .02s ease-in;
        box-shadow: .2em .5em .3em $dark-blue;
    }

    &__button:active {
        transform: translateY(.2em);
        box-shadow: 0em .2em .3em $dark-blue;
    }

    &__author {
        font-size: 1.1rem;
        color: $pumpkin;
    }

    &__quote {
        font-size: .9rem;
        color: $soft-blue;
    }

    &__list{
        grid-row: 4;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        list-style-type: none;
        scrollbar-color: $gray-blue $white;
    }   

    &__list-item{
         margin: .5% 0 .5% -2%;
    }

    &__list-item::before {
        content: ' \25B6';
        color: $gray-blue;
        margin-right: 2%;
    }
}

@media (max-width: 1224px) {
    .oneOnOne {

        &__input {
            width: 5rem;
        }
    }
}