$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;

.student {
  
        height: 18rem;
        width: 20rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        box-shadow: .2em 0 .4em .2em $gray;
        border-radius: 2em;
        padding: 3%;
        row-gap: 2rem;
        transition: .2s ease-in;


    &__header {
        grid-row: 1;
        grid-column: span 2;
    }
   
    // &__stats{
    //     grid-column: span 2;
    //     grid-row: 2;
    // }

    // &__form {
    //     grid-row: 3;
    //     grid-column: span 2;
    // }
    
}

.student:hover {
    transform: translateY(-.5em);
}


@media (max-width: 1224px) {
 
}