$dark-blue: #274c77ff;
$soft-blue: #6096baff;
$gray: #8b8c89ff;
$white: #e7ecefff;
$light-blue: #a3cef1ff;





.aside {
    grid-column: 1;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background-color: $dark-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 92%;
    
    &__header {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
       
        // border-bottom: .2em solid $light-blue;
    }

    &__text {
        font-size: 1.2rem;
        color: $white;
    }
}