$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$light-blue: #6096ba;


.list {
    &__selection {     
        font-size: .9rem;
        font-weight: 600;
        padding: 4%;
        list-style-type: none;
        color: $soft-blue;
        cursor: pointer;
    }
    
    &__active {
        color: $pumpkin;
    }
    
}



@media (min-width: 1224px) {
    .list {

        &__selection:hover {
            box-shadow: .2em .2em .4em $gray;
            border-radius: 2em;
            color: $white;
        }
        
    }
}