$sky-blue: rgb(58, 183, 228);
$pumpkin: #ff6700ff;
$white: #ebebebff;
$silver: #c0c0c0ff;
$bice-blue: #3a6ea5ff;
$polynesian-blue: #004e98ff;


.page {
    grid-area: page;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    padding: 4%;
    row-gap: 2%;
    overflow-y: scroll;

    &__head{
        grid-row: 1;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__count{
        font-size: .9rem;
    }

    &__highlight {
        color: $sky-blue;
    }

    &__student {
        height: 200px;
        width: 100%;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 80% 20%;
        border: 2px solid $sky-blue;
        border-radius: 2px;
        padding: 3%;
        column-gap: 4%;
        align-items: center;

    }

    &__img {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        
    }

    &__info {
        grid-column: 2;
        grid-row: 1;
    }

    &__name {
        font-size: 1rem;
        font-weight: 600;
        line-height: 130%;
    }

    &__email {
        font-size: .9rem;
        line-height: 130%;
    }

    &__birthday{
        font-size: .9rem;
        line-height: 130%;
    }



    &__more {
        grid-column: 2;
        grid-row: 2;
        width: fit-content;
        text-align: left;
        background: none;
        border: none;
        border-bottom: 2px solid $sky-blue;
        color: $sky-blue;
        font-size: .9rem;
    }
}