
$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$dropdown-gray: #696969;
$white: #e7ecef;
$soft-blue: #349ce1;
$light-blue: #6096ba;

.header {
    position: fixed;
    grid-area: header;
    width: 100%;
    max-height: 120px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    // border-bottom: 7px solid $light-blue;
    box-shadow: 0 .5em 1em $light-blue;

    
    &__text { 
        color: $white;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: .1em .1em .2em  $gray;
        margin: auto;
    }
    

    &__dropdown-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        place-items: center;
        position: relative;
    }

    &__mobile {
        grid-column: 1;
        grid-row: 1;
        font-size: 2rem;
        color: $gray;
        cursor: pointer;
    }

    &__dropdown-menu {
        position: absolute;
        right: 0%;
        width: 9rem;
        top: calc(100% + 1rem);
        border-radius: .4rem;
        background-color: $white;
        box-shadow: .2em .2em .4em $gray;
    }

  
    &__option {
        color: $pumpkin;
    }
  
}


@media (max-width: 1224px) {
    .header {


        &__text{
            font-size: 1.5rem;
        }
    }
}