$pumpkin: #ff6700ff;
$white: #ebebebff;
$silver: #c0c0c0ff;
$bice-blue: #3a6ea5ff;
$polynesian-blue: #004e98ff;
$sky-blue: rgba(66, 202, 253, 1);


.header {
    position: fixed;
    grid-area: header;
    width: 100%;
    max-height: 120px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $silver;
    border-bottom: 2px solid $sky-blue;
    
    &__text { 
        color: $bice-blue;
        font-size: 2rem;
        font-weight: 600;
    }
}