
$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$light-blue: #6096ba;

.header {
    position: fixed;
    grid-area: header;
    width: 100%;
    max-height: 120px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    // border-bottom: 7px solid $light-blue;
    box-shadow: 0 .5em 1em $light-blue;

    
    &__text { 
        color: $white;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: 2px 2px 4px  $gray;
    }
    
  
}