$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;





.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%; 

    &__codewars {
        grid-column: 1;
    }

    &__scores {
        grid-column: 2;
    }

    &__certifications {
        grid-column: 3;
    }

    &__head {
        margin-bottom: 8%;
        text-decoration: underline;
        font-size: 1.2rem;
        font-weight: 600;
        color: $dark-blue;
    }

    &__content {
        font-size: .9rem;
        margin: 4% 0;
    }
    
    &__value {
        font-weight: 600;
        color: $soft-blue;
    }

    &__label {
        color: $gray;
    }

    &__icon {
        font-size: 1.5rem;
    }

    &__check {
        color: $soft-blue;
    }
    
    &__x{
        color: $pumpkin;
    }
}

@media (max-width: 1224px) {
    .stats {
        grid-template-columns: auto;
    }
}