$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$grayScroll: rgba(139, 140, 137,.2);
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;



.page {
    grid-area: page;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    padding: 4%;
    row-gap: 2%;
    overflow-y: scroll;
    scrollbar-color: $gray-blue $grayScroll;
    scrollbar-width: thin;
    

    &__head{
        grid-row: 1;
    }

    

}


@media (max-width: 1224px) {
    .page {
        row-gap: 1rem;
        

        &__head{
        
        }
    }
}