$sky-blue: rgba(66, 202, 253, 1);
$pumpkin: #ff6700ff;
$white: #ebebebff;
$silver: #c0c0c0ff;
$bice-blue: #3a6ea5ff;
$polynesian-blue: #004e98ff;


.panel-box {
    grid-area: panel;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;

    &__head {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 4%;
        color: $polynesian-blue;
        
    }

    &__selection {
        border-bottom: 2px solid $sky-blue;
        font-size: .9rem;
        font-weight: 600;
        padding: 4%;
        list-style-type: none;
        cursor: pointer;
    }
}