$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$gray-blue: #6096ba;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: $white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px calc(100% - 200px);



    &__body {
        grid-column: 2;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 8% 90%;
        grid-template-columns: 1fr;
        background-color: $white;
        row-gap: 2%;
        overflow-x: hidden;
    }

}




// &__body-mobile {
//     grid-area: body;
//     display: grid;
//     grid-template-rows: 1fr;
//     grid-template-columns: 1fr;
//     grid-template-areas: 
//     'page page';
//     background-color: $white;
//     padding: 4%;
//     column-gap: 4%;
// }