
// $sky-blue: rgba(66, 202, 253, 1);
// $pumpkin: #ff6700ff;
// $white: #ebebebff;
// $silver: #c0c0c0ff;
// $bice-blue: #3a6ea5ff;
// $polynesian-blue: #004e98ff;

$dark-blue: #274c77ff;
$soft-blue: #6096baff;
$gray: #8b8c89ff;
$white: #e7ecefff;
$light-blue: #a3cef1ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: $white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 80%;
  

    &__body {
        grid-column: 2;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 8% 90%;
        grid-template-columns: 1fr;
        background-color: $white;

    }

}


// &__body-mobile {
//     grid-area: body;
//     display: grid;
//     grid-template-rows: 1fr;
//     grid-template-columns: 1fr;
//     grid-template-areas: 
//     'page page';
//     background-color: $white;
//     padding: 4%;
//     column-gap: 4%;
// }