$pumpkin: #ff6700;
$dark-blue: #274c77;
$gray: #8b8c89;
$white: #e7ecef;
$soft-blue: #349ce1;
$light-blue: #6096ba;

.panel-box {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: 4%;

}